.radioContainer {
  border: 1px solid #334155;
  border-radius: 50%;
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.selected {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #334155;
}
.notSelected {
  display: none;
}
